@font-face {
    font-family: 'ambleregular';
    src: url('/open/fonts/Amble-Regular-webfont.eot');
    src: url('/open/fonts/Amble-Regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('/open/fonts/Amble-Regular-webfont.woff2') format('woff2'),
         url('/open/fonts/Amble-Regular-webfont.woff') format('woff'),
         url('/open/fonts/Amble-Regular-webfont.ttf') format('truetype'),
         url('/open/fonts/Amble-Regular-webfont.svg#ambleregular') format('svg');
    font-weight: normal;
    font-style: normal;

}



ul
{
list-style-type: none ;
font-family:'ambleregular' ;
position: relative;

}

a
{
     text-decoration: none;
     color:gold
}

section /* ma photo*/
{
text-align: right;
font-family:'ambleregular' ;
margin-top: 100px;

}

h1  /*comme j'ai du réduire la photo d'origine, ce titre compétence était trop bas. j'ai du etre en négatif dans le margin-top */

{
     text-align:center; 
     color: blue;
     border-radius:10px ;
    border: 3px blue solid;
    box-shadow: 6px 6px 0px black;
    text-shadow: 2px 2px 4px black;
    font-family:'ambleregular' ;
    margin-top: -200px

}


h2
{
text-align: center;
 color:blue;  
text-decoration :underline;
font-family:'ambleregular' ;
}

body
{
background-attachment:fixed;
background-image: url('fondcv.jpg');
background-repeat: no-repeat;
background-position: center;  

}


.colonne12
{
     
     border: 3px blue solid;
    border-radius: 10px ;
    box-shadow: 6px 6px 0px black;
     text-shadow: 2px 2px 4px black;
      margin :auto;
      padding:auto;
      font-family:'ambleregular' ;
      
      
}



h3
{
     font-family :'ambleregular';
    font-style: italic;
     text-align: center;
    border: 3px blue solid;
    border-radius: 10px ;
    box-shadow: 6px 6px 0px black;
     text-shadow: 2px 2px 4px black; 
     font-size: 25px;
     font-family:'ambleregular' ;
     
}

p
{
     font-family :'ambleregular';
    font-style: italic;
    border: 3px blue solid;
    border-radius: 10px ;
    box-shadow: 6px 6px 0px black;
     text-shadow: 4px 4px 4px black; 
     font-size: 25px;
     text-align: center;
  
}

h3:hover
{
   text-decoration: underline;
   color: blue;
}

p:hover
{
  text-decoration: underline;
   color: blue;
}


nav
{
    background-color: white;
    padding-top: 20px;
    padding-bottom: 20px;
    top: 2px;
    right: 100px;
    left: 300px;
    border-radius: 10px;
    box-shadow: 6px 6px 0px black;
    text-shadow: 2px 2px 4px black;
    font-family: "Lucida Console", Courier, monospace;
    font-size: 30px;
    text-align: center;

    }

    .coordonné
    {
     position: relative;
     bottom: 300px;
     font-size: large;
     
    }

    
    span{

     color: red;
  }

    .nt{
     
     border: 4px solid red;
     padding-top: 40px;
     padding-bottom:40px;
     margin:40px
     
    }

    .open{
      margin-top: 50px;
     margin-bottom:50px;
    }

    .dev{

     margin-bottom:50px;
    }
    




